<div class="py-4">
   <div class="container">
      <div class="row">
         <!-- Main Content -->
         <aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
            <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
               <div class="px-3 border-bottom">
                  <!-- py-4  -->
                  <img class="img-fluid mt-2 rounded-circle"
                     src="http://localhost:8080/api/medsol/v1/profilePic/{{userId}}"
                     onerror="this.src='./../../../assets/pic.png';" alt="Responsive image" />
                  <h5 class="font-weight-bold text-dark mb-1 mt-4">{{profile?.fullName}}</h5>
                  <p class="mb-0 text-muted">{{profile?.profession}}, {{profile?.institute}}</p>
               </div>
               <div class="d-flex">
                  <div class="col-6 border-right p-3">
                     <a class="font-weight-bold p-3 d-block">
                        <h6 class="font-weight-bold text-dark mb-1">{{profile?.follower}}</h6>
                     </a>
                     <p class="mb-0 text-black-50 small">Followings</p>
                  </div>
                  <div class="col-6 p-3">
                     <a class="font-weight-bold p-3 d-block">
                        <h6 class="font-weight-bold text-dark mb-1">{{profile?.following}}</h6>
                     </a>
                     <p class="mb-0 text-black-50 small">Followers</p>
                  </div>
               </div>

            </div>

            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">About You</h6>
               </div>
               <div class="box-body">
                  <div class="align-items-center osahan-post-header p-3 border-bottom people-list">
                     <div>#{{profile?.profession}}</div>
                     <div>#{{profile?.institute}}</div>
                     <div>#{{profile?.grade}}</div>
                     <div>#{{profile?.specialization}}</div>
                     <div>#{{profile?.subSpecialization}}</div>
                     <div>#Date Of Birth : {{profile?.dob | date}}</div>
                  </div>
               </div>
            </div>
         </aside>


         <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <app-new-post></app-new-post>
            <!-- card for showing post -->
            <!-- <div *ngFor="let post of posts">
               <div class="box mb-3 shadow-sm border rounded bg-white osahan-post">
                  <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="http://localhost:8080/api/medsol/v1/profilePic/{{post.userId}}"
                           onerror="this.src='./../../../assets/pic.png';" alt="..." />
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold">
                        <div class="text-truncate">{{post?.fullName}}</div>
                        <div class="small text-gray-500">{{post.profession}}, {{post.institute}}</div>
                     </div>
                     <span class="ml-auto small">3 hours</span>
                  </div>
                  <div class="p-3 border-bottom osahan-post-body">
                     <p>{{post.post.postContent}}</p>
                     <img src="http://localhost:8080/api/medsol/posts/img/{{post.post.postId}}" class="img-fluid"
                        alt="Responsive image" *ngIf="post.post.postImgPath != null">
                  </div>
                  <div class="p-3 border-bottom osahan-post-footer">
                     <a href="" class="mr-3 text-secondary"><i class="fa fa-heart-o" aria-hidden="true" ></i><i
                           class="fa fa-heart" aria-hidden="true" style="color: red;" *ngIf="false"></i>0</a>
                     <a href="" class="mr-3 text-secondary"><i class="fa fa-comment-o" aria-hidden="true"></i> 8</a>
                     <a href="" class="mr-3 text-secondary"><i class="fa fa-share-square-o" aria-hidden="true"></i>
                        2</a>
                  </div>
                  <div class="p-3 d-flex align-items-top border-bottom osahan-post-comment">
                     <div class="dropdown-list-image cmt-img">
                        <img class="rounded-circle" src="./../../../assets/img.jpg" alt="img">
                        <div class="status-indicator bg-success mo-3"></div>
                     </div>
                     <div class="font-weight-bold mo-3">
                        <div class="text-truncate cmt-name"> James Spiegel <span class="float-right small">2 min</span>
                        </div>
                        <div class="small text-gray-500">Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam
                           est, quinder dolorem ipsum quia dolor sit amet, consectetur</div>
                     </div>
                  </div>
                  <div class="p-3">
                     <textarea placeholder="Add Comment..." class="form-control border-0 p-0 shadow-none"
                        rows="1"></textarea>
                  </div>
               </div>
            </div> -->

            <div *ngFor="let post of posts,let i=index">
               <div class="box mb-3 shadow-sm border rounded bg-white osahan-post">
                  <!-- profile picture  -->
                  <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="http://localhost:8080/api/medsol/v1/profilePic/{{post.userId}}"
                           onerror="this.src='./../../../assets/pic.png';" alt="..." />
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold">
                        <div class="text-truncate">{{post.fullName}}</div>
                        <div class="small text-gray-500">{{post.profession}},{{post.instituteName}}</div>
                     </div>
                     <span [matMenuTriggerFor]="menu" class="ml-auto material-icons" style="cursor: pointer;"
                        *ngIf="userId == currentUser">
                        more_horiz
                     </span>
                     <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editPost(post)">Edit</button>
                        <button mat-menu-item (click)="deletePost(post.post,i)">Delete</button>
                     </mat-menu>
                  </div>
                  <!-- post Content -->
                  <div class="p-3 border-bottom osahan-post-body">
                     <p>{{post.post.postContent}}</p>
                     <img src="http://localhost:8080/api/medsol/posts/img/{{post.post.postId}}" class="img-fluid"
                        alt="Responsive image" *ngIf="post.post.postImgPath !=null">
                  </div>
                  <!-- post like icons  -->
                  <div class="p-3 border-bottom osahan-post-footer post-icons">
                     <div class="mr-3 text-secondary">
                        <i *ngIf="! post.like" class="fa fa-heart-o" aria-hidden="true"
                           (click)=clickLike(post.post.postId,i)></i>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;" *ngIf="post.like"
                           (click)=clickUnLike(post.post.postId,i)></i>{{post.likeCount}}</div>
                     <div class="mr-3 text-secondary"><i class="fa fa-comment-o"
                           aria-hidden="true"></i>{{post.commentCount}}</div>
                     <div class="mr-3 text-secondary"><i class="fa fa-share-square-o" aria-hidden="true"></i></div>
                  </div>
                  <!-- comment lists  -->
                  <div class="p-3  align-items-top border-bottom osahan-post-comment  comment-height"
                     *ngIf="post.commentCount != 0">
                     <div class="d-flex align-items-top osahan-post-comment"
                        *ngFor="let item of post.commentLIst | slice:0:[max]">
                        <div class="dropdown-list-image cmt-img">
                           <img class="rounded-circle"
                              src="http://localhost:8080/api/medsol/v1/profilePic/{{item.userId}}"
                              onerror="this.src='./../../../assets/pic.png';" alt="..." />
                           <div class="status-indicator bg-success mo-3"></div>
                        </div>
                        <div class="font-weight-bold" style="margin-left: -0.9rem;">
                           <div class="text-truncate cmt-name"> {{item.userName}}</div>
                           <div class="small text-gray-500">{{item.commentedText}}</div>
                        </div>
                        <span [matMenuTriggerFor]="menu1" class="ml-auto material-icons" style="cursor: pointer;"
                           *ngIf="userId == currentUser">
                           more_horiz
                        </span>
                        <mat-menu #menu1="matMenu">
                           <button mat-menu-item (click)="deleteComment(item,post.commentLIst)">Delete</button>
                        </mat-menu>
                     </div>
                     <a (click)="max = post.commentLIst.length" *ngIf="max != post.commentLIst.length"
                        class="comment-extends">show more</a>
                  </div>
                  <div class="p-3">
                     <textarea placeholder="Add Comment..." class="form-control border-0 p-0 shadow-none" rows="1"
                        (keypress)="clickComment($event,post.post.postId,cmtText,i)" [(ngModel)]="cmtText"></textarea>
                  </div>
               </div>
            </div>

         </main>

         <aside class="col col-xl-3 order-xl-3 col-lg-12 order-lg-3 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="box-title border-bottom p-3 d-flex align-items-center">
                  <h6 class="m-0">Photos</h6>
                  <a class="ml-auto" href="">See All <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
               </div>
               <div class="box-body p-3">
                  <div class="gallery-box-main">
                     <div class="gallery-box">
                        <img class="img-fluid" src="./../../../assets/p1.png" alt="">
                        <img class="img-fluid" src="./../../../assets/p2.png" alt="">
                        <img class="img-fluid" src="./../../../assets/p2.png" alt="">
                     </div>
                     <div class="gallery-box">
                        <img class="img-fluid" src="./../../../assets/p4.png" alt="">
                        <img class="img-fluid" src="./../../../assets/p5.png" alt="">
                        <img class="img-fluid" src="./../../../assets/p6.png" alt="">
                     </div>
                     <div class="gallery-box">
                        <img class="img-fluid" src="./../../../assets/p7.png" alt="">
                        <img class="img-fluid" src="./../../../assets/p8.png" alt="">
                        <img class="img-fluid" src="./../../../assets/p9.png" alt="">
                     </div>
                  </div>
               </div>
            </div>


         </aside>
      </div>
   </div>
</div>