.gallery-box {
    align-items: center;
    display: flex;
    margin-bottom: 2px;
    justify-content: space-between;
}
.gallery-box img {
    width: 34%;
    border-right: 2px solid transparent;
}
.cmt-img img{
    height: 1.2rem;
    width: 1.2rem;
}
.cmt-img .status-indicator{
    height: .55rem;
    width: .55rem;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    right: 0;
}
.cmt-img img{
    height: 1.2rem;
    width: 1.2rem;
}
.cmt-img .status-indicator{
    height: .55rem;
    width: .55rem;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    right: 0;
}
.mo-3{
    margin-right: 1rem!important
}
.cmt-name{
    font-size: 11px;
}
.sugg-btn{
    font-size: 10px;
}
.post-icons{
    display: flex;
}
.comment-extends{
    cursor: pointer;
    color: thistle;
}
.show {
    overflow: visible !important;
    height: auto !important;
}
.edit-comment-inner{
    background-color: #cec9c9;
    margin-right: -46%;
    /* right: 0; */
    top: 5px;
    z-index: 9;
    border: 1px solid #ffffff;
    width: 80px;
    height: 55px;
}

.edit-comment-inner ul li{
    list-style-type: none;
    padding-left: 3px;
    padding-top:7px;
}

.edit-comment-inner ul li a{
   cursor: pointer;
}

.edit-comment-inner ul li:hover{
   background-color: silver;
}

.edit-comment-inner ul{
    padding-left: unset;
}
.osahan-nav-top .osahan-list-dropdown .nav-link .badge {
    position: absolute;
    border-radius: 50px;
    min-width: 15px;
    height: 15px;
    font-size: 9px;
    padding: 0px;
    right: 1px;
    line-height: 15px;
    top: 11px;
}

.mat-menu-panel {
    /* min-width: 95px; */
    /* max-width: 336px; */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* max-height: calc(100vh - 48px); */
    border-radius: 4px;
    /* outline: 0; */
    /* min-height: 49px; */
}
.mat-menu-content:not(:empty) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.cmt-like-div {
    margin-left: 3%;
    cursor: pointer;
}
.cmt-replay-div{
    margin-left: 2%;
    cursor: pointer;
}
