.btn:hover {
    color: #212529;
    text-decoration: none;
}
.form-control, .btn {
    font-size: 13px;
}
.btn-outline-instagram {
    border-color: #2a5b83;
    background-color: #2a5b83;
    color: #fff;
}
.btn-outline-linkedin {
    border-color: #187fb9;
    background-color: #187fb9;
    color: #fff;
}
.btn-outline-facebook {
    border-color: #43619d;
    background-color: #43619d;
    color: #fff;
}



.position-relative {
    position: relative!important;
}
div, a {
    outline: none !important;
}
.form-group {
    margin-bottom: 1rem;
}



.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}

label {
    font-weight: 500;
    font-size: 13px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}


.icon-form-control i {
    display: flex;
    top: 0;
    bottom: 0;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    width: 40px;
    position: absolute;
}
.position-absolute {
    position: absolute!important;
}
.icon-form-control .form-control {
    padding-left: 40px;
}
.osahan-login .form-control {
    background: #f8fafc;
    border-color: #eaebec;
}
.form-control, .btn {
    font-size: 13px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.py-4{
    margin-top: 6%;
}