<div class="bg-white  py-4">
    <div class="container">
        <div class="row justify-content-center d-flex vh-100">
            <div class="col-md-4 mx-auto">
                <div class="osahan-login">
                    <div class="text-center mb-4" *ngIf="email">
                        <a href=""><img src="" alt=""></a>
                        <h5 class="font-weight-bold mt-3">First, let's find your account</h5>
                        <p class="text-muted">Please enter your email</p>
                    </div>
                    <div class="text-center mb-4" *ngIf="verify">
                        <a href=""><img src="" alt=""></a>
                        <h5 class="font-weight-bold mt-3">Code sent to registered email</h5>
                        <p class="text-muted">Please enter 6 digit code</p>
                    </div>
                    <div class="text-center mb-4" *ngIf="resetpass">
                        <a href=""><img src="" alt=""></a>
                        <h5 class="font-weight-bold mt-3">Change Password</h5>
                        <p class="text-muted">Please enter new password</p>
                    </div>
                    <div class="alert alert-danger text-center" *ngIf="errorMsg">{{errorMessage}}</div>
                    <div class="alert alert-success text-center" *ngIf="successMsg">{{errorMessage}}</div>
                    <!-- <form action=""> -->
                    <div *ngIf="email">
                        <form [formGroup]="emailForm" (submit)="sentEmail()">
                            <div class="form-group">
                                <label class="mb-1">Email </label>
                                <div class="position-relative icon-form-control">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <input type="email" class="form-control" formControlName="email"
                                        [ngClass]="{ 'is-invalid': e.email.invalid && (e.email.dirty || e.email.touched || emailSubmitted)}">
                                </div>
                                <div *ngIf="e.email.invalid && (e.email.dirty || e.email.touched || emailSubmitted)"
                                    class="invalid-feedback d-block">
                                    <div *ngIf="e.email.errors.required" class="alert alert-danger"> Email Required
                                    </div>
                                    <div *ngIf="e.email.errors.email" class="alert alert-danger"> Enter Valid Email
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Find account
                            </button>
                        </form>
                    </div>
                    <div *ngIf="verify">
                        <form [formGroup]="codeForm" (submit)="verifyCode()">
                            <div class="form-group">
                                <label class="mb-1">Enter 6 Digit code</label>
                                <div class="position-relative icon-form-control">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <input type="text" class="form-control" formControlName="code"
                                        [ngClass]="{ 'is-invalid': c.code.invalid && (c.code.dirty || c.code.touched || codeSubmitted)}">
                                </div>
                                <div *ngIf="c.code.invalid && (c.code.dirty || c.code.touched || codeSubmitted)"
                                    class="invalid-feedback d-block">
                                    <div *ngIf="c.code.errors.required" class="alert alert-danger"> Code Required
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Submit </button>
                        </form>
                    </div>
                    <div *ngIf="resetpass">
                        <form [formGroup]="passwordForm" (submit)="updatePassword()">
                            <div class="form-group">
                                <label class="mb-1">Password</label>
                                <div class="position-relative icon-form-control">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    <input type="password" class="form-control" formControlName="password"
                                        [ngClass]="{ 'is-invalid': p.password.invalid && (p.password.dirty || p.password.touched || passwordSubmited) }">
                                </div>
                                <div *ngIf="p.password.invalid && (p.password.dirty || p.password.touched || passwordSubmited)"
                                    class="invalid-feedback d-block">
                                    <div *ngIf="p.password.errors.required" class="alert alert-danger"> Password
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">Confirm Password</label>
                                <div class="position-relative icon-form-control">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    <input type="password" class="form-control" formControlName="cnfPassword"
                                        [ngClass]="{ 'is-invalid': p.cnfPassword.invalid && (p.cnfPassword.dirty || p.cnfPassword.touched || passwprdSubmited) }">
                                </div>
                                <div *ngIf="p.cnfPassword.invalid && (p.cnfPassword.dirty || p.cnfPassword.touched || passwordSubmited)"
                                    class="invalid-feedback d-block">
                                    <div *ngIf="p.cnfPassword.errors.required" class="alert alert-danger">Confirm Password
                                        Required</div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Change </button>

                        </form>
                    </div>
                    <div class="py-3 d-flex align-item-center">
                        <a [routerLink]="['/login']">Sign In</a>
                        <span class="ml-auto"> New to Medsol? <a class="font-weight-bold"
                                [routerLink]="['/signup']">Join
                                now</a></span>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>