<div class="py-4">
   <div class="container">
      <div class="row">
         <!-- Main Content -->
         <aside class="col-md-4">       
            <div class="mb-3 border rounded bg-white profile-box text-center w-10">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">Upload Profile Picture</h6>
               </div>
               <div class="p-4 d-flex align-items-center">
                  <img class="img-fluid rounded-circle" src="http://localhost:8080/api/medsol/v1/profilePic/{{userId}}"
                           onerror="this.src='./../../../assets/pic.png';" alt="..." />
                  <div class="p-4">
                     <label data-toggle="tooltip" data-placement="top" data-original-title="Upload New Picture"
                        class="btn btn-info m-0" for="fileAttachmentBtn">
                        <i class="fa fa-picture-o" aria-hidden="true" (click)="profile.click()"></i>
                        <input id="fileAttachmentBtn" name="file-attachment" type="file" class="d-none"  (change)="onprofileChange($event)" #profile>
                     </label>
                     <button data-toggle="tooltip" data-placement="top" data-original-title="Delete" type="submit"
                        class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </div>
               </div>
            </div>
            <!-- Document Upload -->
            <div class="mb-3 border rounded bg-white profile-box text-center w-10">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">Upload Document<span class="text-danger">*</span></h6>
                  <span class="text-danger">Please Upload photo of id card</span>
               </div>
               <div class="p-4 d-flex align-items-center">
                  <img class="img-fluid" src="http://localhost:8080/api/medsol/v1/user/document/{{userId}}"
                           onerror="this.src='./../../../assets/pic.png';" alt="..." />
                  <div class="p-4">
                     <label data-toggle="tooltip" data-placement="top" class="btn btn-info m-0" for="fileAttachmentBtn">
                        <i class="fa fa-file-pdf-o" aria-hidden="true" (click)="docsInput.click()"></i>
                        <input id="fileAttachmentBtn" name="file-attachment" type="file" class="d-none" (change)="onDocUpload($event)"  #docsInput>
                     </label>
                     <button data-toggle="tooltip" data-placement="top" data-original-title="Delete" type="submit"
                        class="btn btn-danger" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </div>
               </div>
            </div>
         </aside>
         <main class="col-md-8">
            <div class="border rounded bg-white mb-3">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">Basic Info</h6>
                  <p class="mb-0 mt-0 small"></p>
               </div>
               <div class="box-body p-3">
                  <form [formGroup]="profileForm">
                     <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="nameLabel" class="form-label">
                              Full Name
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input type="text" class="form-control" formControlName="name">
                           </div>
                           <!-- </div> -->
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="emailLabel" class="form-label">
                              Email address
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input type="email" class="form-control" formControlName="email" >
                           </div>
                           <!-- </div> -->
                        </div>
                     </div>
                     <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="phoneNumberLabel" class="form-label">
                              Phone number
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input class="form-control" type="tel" formControlName="mobileNo" >
                           </div>
                           <!-- </div> -->
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="dob" class="custom-label">
                              Date of Birth
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input type="date" class="form-control" formControlName="dob">
                           </div>
                           <!-- </div> -->
                        </div>
                        <!-- End Input -->
                     </div>
                     <!-- End Input -->
                     <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="professionLabel" class="form-label">
                              Select Profession
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input class="form-control" formControlName="profession" >
                           </div>
                           <!-- </div> -->
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="gradeLabel" class="form-label">
                              Grade
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input class="form-control" formControlName="grade" >
                           </div>
                           <!-- </div> -->
                        </div>
                     </div>
                     <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="instituteLabel" class="form-label">
                              Institute
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input type="text" class="form-control" formControlName="institue">
                           </div>
                           <!-- </div> -->
                        </div>
                        <!-- End Input -->
                     </div>

                     <div class="row">
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="specializationLabel" class="form-label">
                              Specialization
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input class="form-control" formControlName="specialization" >
                           </div>
                           <!-- </div> -->
                        </div>
                        <!-- End Input -->
                        <!-- Input -->
                        <div class="col-sm-6 mb-2">
                           <!-- <div class="js-form-message"> -->
                           <label id="subLabel" class="form-label">
                              Sub-specialization
                              <span class="text-danger">*</span>
                           </label>
                           <div class="form-group">
                              <input class="form-control" formControlName="subspecialization" >
                           </div>
                           <!-- </div> -->
                        </div>
                        <!-- End Input -->
                     </div>
                  </form>
               </div>
               <button type="button" class="btn btn-sm btn-outline-instagram btn-block" (click)="updateProfile()">
                  Update</button>
            </div>
         </main>
      </div>
   </div>
</div>