.osahan-nav-top .img-profile {
    width: 19px;
    height: 19px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.rounded-circle {
    border-radius: 50%!important;
}

.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bg-dark {
    background: #1d2f38 !important;
}

.osahan-nav-top .navbar-search .form-control {
    background: #132028;
}

.osahan-nav-top .navbar-search .btn {
    background: #132028 !important;
    color: #74828e;
}

.osahan-nav-top .osahan-list-dropdown .nav-link .badge {
    position: absolute;
    border-radius: 50px;
    min-width: 15px;
    height: 15px;
    font-size: 9px;
    padding: 0px;
    right: 1px;
    line-height: 15px;
    top: 11px;
}

.badge-info {
    color: #1e2022;
    background-color: #00dffc;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.osahan-nav-top .osahan-list-dropdown .nav-link i {
    font-size: 16px;
}

/* [class^="feather-"], [class*=" feather-"] {
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.display-search-item {
    z-index: 1;
    position: relative;
    /* background-color: white; */
}

.serach-item {
    border: 1px solid rgb(243, 240, 240);
    display: block;
    left: 50%;
    margin-left: -112px;
    position: absolute;
    right: -12px;
    top: 45px;
    width: 225px;
    z-index: 9;
    height: 250px;
    overflow: auto;
    scrollbar-width: 20px;
    background-color: white;
    box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.serach-item ul {
    padding-left: 0px;
    margin: unset;
}

.serach-item ul li {
    list-style: none;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #e4dddd;
}

.outer-search-div {
    flex: 0 1 auto;
    min-width: 125px;
    width: 225px;
    border: 1px solid rgb(243, 240, 240);
}

.outer-search-div input {
    width: 85%;
    float: left;
    border: none;
}

.outer-search-div button {
    text-align: -webkit-auto;
    font-size: 23px;
}

.outer-search-div input:focus {
    outline: none;
    border: none;
}

.search-details {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    white-space: nowrap;
    width: 100%;
}

.serch-detail-img img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.search-details-text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding: 0px 0px 5px 10px;
    margin-top: -6px;
}

.main-text span {
    font-size: 16px;
    color: rgb(59, 54, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-overflow: ellipsis;
}

.profile-text {
    line-height: 5px;
    padding: unset;
}

.profile-text span {
    font-size: 12px;
    color: rgb(149, 148, 141);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.triangle {
    bottom: 0;
    margin-left: -0.5rem;
    background: #fff;
    content: ' ';
    height: 16px;
    left: 0;
    /* margin: auto; */
    position: absolute;
    right: 0;
    top: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 16px;
    z-index: 1;
    border: 1px solid rgb(243, 240, 240);
    box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.outer-search-div .triangle {
    top: 39px;
}

.notification-list {
    cursor: pointer;
    background-color: whitesmoke;
    border-bottom: solid 2px white;
    min-height: 30px;
    padding: 10px;
}

.coment-div {
    max-height: 353px;
    overflow-y: scroll;
}