.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.rounded-circle {
    border-radius: 50%!important;
}
.py-4{
    background: #edf2f6;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}







/* .outer-dashboard-div{
    border-top: solid 1px silver;
    margin-top: 55px;
    background-color: #edf2f4;
}
.inner-dshboard-div{
   margin-left: 8%;
   margin-right: 8%;
}




.dashboard-profile-card{
    
    margin-top:10%;
    border: 1px solid edf2f4;
    height: 350px; 
    background-color: #fff;
    margin-right: -16px;
    border-radius:1.5% ;
    
}
.dashboard-follow-card{
    margin-top:10%;
    border: 1px solid edf2f4;
    height: 350px; 
    background-color: #fff;
    margin-left: -16px;
    border-radius:1.5% ;
}
.dashboard-details-card{
    margin-top: 5%;
    border: 1px solid white;
    height: 270px; 
    background-color: #fff;
    margin-right: -16px;
    border-radius:1.5% ;
}
.details-card{
    margin-top: 5%;
    border: 1px solid white;
    height: 270px; 
    background-color: #fff;
    margin-left: -16px;
    border-radius:1.5% ;
}



.create-post-div{
    margin-top: 4.7%;
    border: 1px solid white;
    height: 200px; 
    background-color: #fff;
    border-radius:1.5% ;
}
.activity-post-div{
    margin-top: 4%;
    border: 1px solid white;
    height: 230px; 
    background-color: #fff;
    border-radius:1.5% ;
}
.post-div{
    margin-top: 4%;
    border: 1px solid white;
    min-height: 350px; 
    background-color: #fff;
    border-radius:1.5% ;
}
.dashboard-news-feed-div{

}
.dashboard-sugg-people-div{

} */