<div class="py-4">
   <div class="container">
      <div class="row">
         <!-- Main Content -->
         <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <app-new-post></app-new-post>
            <!-- Post div -->
            <div *ngFor="let post of posts,let i=index">
               <div class="box mb-3 shadow-sm border  bg-white osahan-post">
                  <!-- profile picture  -->
                  <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="http://localhost:8080/api/medsol/v1/profilePic/{{post.userId}}"
                           onerror="this.src='./../../../assets/pic.png';" alt="..." />
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold">
                        <div class="text-truncate">{{post.fullName}}</div>
                        <div class="small text-gray-500">{{post.profession}},{{post.instituteName}}</div>
                     </div>
                     <span class="ml-auto small">3 hours</span>
                  </div>
                  <!-- post Content -->
                  <div class="p-3 border-bottom osahan-post-body">
                     <p>{{post.post.postContent}}</p>
                     <img src="http://localhost:8080/api/medsol/posts/img/{{post.post.postId}}" class="img-fluid"
                        alt="Responsive image" *ngIf="post.post.postImgPath !=null">
                  </div>
                  <!-- post like icons  -->
                  <div class="p-3 border-bottom osahan-post-footer post-icons">
                     <div class="mr-3 text-secondary">
                        <i *ngIf="! post.like" class="fa fa-heart-o" aria-hidden="true"
                           (click)=clickLike(post.post.postId,i)></i>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;" *ngIf="post.like"
                           (click)=clickUnLike(post.post.postId,i)></i>{{post.likeCount}}</div>
                     <div class="mr-3 text-secondary"><i class="fa fa-comment-o"
                           aria-hidden="true"></i>{{post.commentCount}}</div>
                     <div class="mr-3 text-secondary"><i class="fa fa-share-square-o" aria-hidden="true"></i></div>
                  </div>
                  <!-- comment lists  -->
                  <div class="p-3  align-items-top border-bottom osahan-post-comment comment-height"
                     *ngIf="post.commentCount != 0">
                     <div class="d-flex align-items-top osahan-post-comment" *ngFor="let item of post.commentLIst">
                        <div class="dropdown-list-image cmt-img">
                           <img class="rounded-circle"
                              src="http://localhost:8080/api/medsol/v1/profilePic/{{item.userId}}"
                              onerror="this.src='./../../../assets/pic.png';" alt="..." />
                           <div class="status-indicator bg-success mo-3"></div>
                        </div>
                        <div class="font-weight-bold" style="margin-left: -0.9rem;">
                           <div class="text-truncate cmt-name"> {{item.userName}}
                              <span class="float-right ml-auto small"><i class="fa fa-heart" aria-hidden="true"
                                    style="color: red;"></i></span>
                              <span class="float-right ml-auto small"></span>
                           </div>
                           <div class="small text-gray-500">{{item.commentedText}}</div>

                        </div>
                     </div>
                  </div>
                  <div class="p-3">
                     <textarea placeholder="Add Comment..." class="form-control border-0 p-0 shadow-none" rows="1"
                        (keypress)="clickComment($event,post.post.postId,cmtText,i)" [(ngModel)]="cmtText"></textarea>
                  </div>
               </div>
            </div>
         </main>
         <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
               <div class="px-3 border-bottom">
                  <!-- py-4  -->
                  <img class="img-fluid mt-2 rounded-circle"
                     src="http://localhost:8080/api/medsol/v1/profilePic/{{userId}}"
                     onerror="this.src='./../../../assets/pic.png';" alt="Responsive image" />
                  <h5 class="font-weight-bold text-dark mb-1 mt-4">{{profile?.fullName}}</h5>
                  <p class="mb-0 text-muted">{{profile?.profession}}, {{profile?.institute}}</p>
               </div>
               <div class="d-flex">
                  <div class="col-6 border-right p-3">
                     <a [routerLink]="['/peoples','follower']" class="font-weight-bold p-3 d-block"><h6 class="font-weight-bold text-dark mb-1">{{profile?.follower}}</h6></a>
                     <p class="mb-0 text-black-50 small">Followings</p>
                  </div>
                  <div class="col-6 p-3">
                  <a [routerLink]="['/peoples','followings']" class="font-weight-bold p-3 d-block"><h6 class="font-weight-bold text-dark mb-1">{{profile?.following}}</h6></a>
                     <p class="mb-0 text-black-50 small">Followers</p>
                  </div>
               </div>
               <div class="overflow-hidden border-top">
                  <a class="font-weight-bold p-3 d-block" [routerLink]="['/profile',profile?.userId]"> View my profile
                  </a>
               </div>
            </div>
            <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">Profile Views</h6>
               </div>
               <div class="d-flex text-center">
                  <div class="col-6 border-right  px-2">
                     <!-- py-4  -->
                     <h5 class="font-weight-bold text-info mb-1">08 <i class="feather-bar-chart-2"></i></h5>
                     <p class="mb-0 text-black-50 small">last 5 days</p>
                  </div>
                  <div class="col-6  px-2">
                     <!-- py-4  -->
                     <h5 class="font-weight-bold text-success mb-1">+ 43% <i class="feather-bar-chart"></i></h5>
                     <p class="mb-0 text-black-50 small">Since last week</p>
                  </div>
               </div>
               <div class="overflow-hidden border-top text-center">
                  <img src="./../../../assets/chart.png" class="img-fluid" alt="Responsive image">
               </div>
            </div>

         </aside>
         <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="box-title border-bottom p-3" style="display: flex;">
                  <h6 class="m-0">People you might know</h6>
                  <a class="ml-auto" [routerLink]="['/peoples','suggetions']">See All <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
               </div>
               <div class="box-body p-3">
                  <div class="d-flex align-items-center osahan-post-header mb-3 people-list"
                     *ngFor="let people of peopleList">
                     <div class="dropdown-list-image mr-3" [routerLink]="['/profile',people.userId]">
                        <img class="rounded-circle"
                           src="http://localhost:8080/api/medsol/v1/profilePic/{{people.userId}}"
                           onerror="this.src='./../../../assets/pic.png';" alt="..." />
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold mr-2">
                        <div class="text-truncate" [routerLink]="['/profile',people.userId]">{{people.userName}}</div>
                        <div class="small text-gray-500">{{people.profession}},{{people.institute}}</div>
                     </div> 
                     <span class="ml-auto"><button type="button"  class="btn btn-primary btn-sm btn-block sugg-btn"
                           *ngIf="! people.following"
                           (click)="followUser(people.userId,people)">Follow</button></span>
                     <span class="ml-auto"><button type="button" class="btn btn-outline-primary btn-sm btn-block sugg-btn" *ngIf="people.following" (click)="unFollowUser(people.userId,people)">Following</button></span>
                  </div>
               </div>
            </div>
            <div class="box shadow-sm border rounded bg-white mb-3">
               <div class="box-title border-bottom p-3">
                  <h6 class="m-0">Likes & Intrest
                  </h6>
               </div>
               <div class="box-body p-3">
                  <a href="l">
                     <div class="shadow-sm border rounded bg-white job-item mb-3">
                        <div class="d-flex align-items-center p-3 job-item-header">
                           <div class="overflow-hidden mr-2">
                              <h6 class="font-weight-bold text-dark mb-0 text-truncate">Cardiac</h6>
                              <div class="text-truncate text-primary">Health Inc.</div>
                              <div class="small text-gray-500"><i class="feather-map-pin"></i> India, Delhi</div>
                           </div>
                           <img class="img-fluid ml-auto" src="./../../../assets/img.jpg" alt="">
                        </div>
                        <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                           <div class="overlap-rounded-circle">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title=""
                                 src="./../../../assets/img.jpg" alt="" data-original-title="Sophia Lee">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title=""
                                 src="./../../../assets/img.jpg" alt="" data-original-title="John Doe">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title=""
                                 src="./../../../assets/img.jpg" alt="" data-original-title="Julia Cox">
                              <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title=""
                                 src="./../../../assets/img.jpg" alt="" data-original-title="Robert Cook">
                           </div>
                           <span class="font-weight-bold text-muted">18 connections</span>
                        </div>
                        <div class="p-3 job-item-footer">
                           <small class="text-gray-500"><i class="fa fa-clock-o" aria-hidden="true"></i> Posted 3 Days
                              ago</small>
                        </div>
                     </div>
                  </a>

               </div>
            </div>
         </aside>
      </div>
   </div>
</div>