.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.rounded-circle {
    border-radius: 50%!important;
}
.py-4{
    background: #edf2f6;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}
.overlap-rounded-circle .rounded-circle {
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    margin: 0 0 0 -9px;
}
.job-item-header .img-fluid, .job-item-2 .img-fluid {
    width: 40px;
    height: 40px;
}